* {font-size: 60px;
    font-weight: 300;
    font-family: "Helvetica", "Arial", "sans-serit";
  }


  h3#header {
  	font-size: 28px;
  	color: #868e96;
  	text-decoration: underline;
  	font-family: "Verdana";
  }
